extends layout


block content
	h1.top Связь со мной
	.container
		.col-sm-5.conact
			a(href="tel:+375257409043") +375 (25) 740-90-43<br>
			a(href="mailto:ivanprotsko@ivanprotsko.com") ivanprotsko@ivanprotsko.com<br>
			a(href="skype:ivanprotsko?call") ivanprotsko (skype)