



script
	include ../../assets/js/sub.min.js
script
	include ../../assets/js/modernizr.min.js

meta(http-equiv="x-dns-prefetch-control", content="on")
link(rel="dns-prefetch", href="https://use.typekit.net")
script(src="https://use.typekit.net/srp3qat.js")
script.
	try{Typekit.load({ async: true });}catch(e){}
