extends layout



block content
	h1.top Иван Процко
	.container-fluid
		article.site-post
			h2 Кратко:
			ul
				li стартап-менеджер;
				li бесплатно консультирую по любым вопросам создания сайтов;
				li автор методологии на базе которой мы разработали технологию разработки сайтов, которая позволяет минимум в 2 раза сократить расходы на разработку и поддержку крупных сайтов, порталов, сервисов;
				li могу разработать сайт любого уровня сложности и крутости дизайна;
				li для инвесторов, которые интересуются рынком информационных технологий у меня есть выгодные предложения.
		article.site-post
			h2 Связь:
			ul
				li
					a(href="mailto:ivanprotsko@ivanprotsko.com") ivanprotsko@ivanprotsko.com
					|;
				li
					a(href="skype:ivanprotsko?call")!='ivanprotsko '
					| — скайп;
				li
					a(href="tel:+375297409043") +375 (25) 740-90-43
					|.
		article.site-post
			h2 Открыт для предложений:
			ul
				li совместных веб-студий;
				li инвестиций в конструктор сайтов и сервисы основанные на нем;
				li присоединиться к группе компаний Субстанция.
		article.site-post
			h2 Ищу:
			ul
				li js, php, python, scala, ruby-программиста;
				li верстальщика/технолога.
		article.site-post
			h2 Действую в рамках понятий:
			ul
				li методология практической деятельности;
				li разработка программного обеспечения;
				li организация, руководство, управление;
				li проблемы языкового мышления;
				li информационные технологии;
				li автоматизация
				li маркетинг;
				li реклама;
				li дизайн.
		article.site-post
			h2 Запущено:
			ul
				li курсы дизайна;
				li дизайн-бюро Купр.
				li приложение под IOS для посетителей тренажерного зала;
				li франшиза веб-студии.
		article.site-post
			h2 Скоро
			ul
				li Платформа онлайн-прототипирования;
				li Приложение под IOS для посетителей тренажерного зала;
				li Франшиза веб-студии.
		article.site-post
			h2 В проекте:
			ul
				li компания по автоматизации бизнес-процессов;
				li ПО для управления знаниями в развивающихся организациях.
		article.site-post
			h2 В процессе создания или развития:
			ul
				li cоздание сайтов интерфейсов:
					ul
						li теория, стандарты и методология создания графических интерфейсов;
						li экспресс программа обучения дизайнеров интерфейсов;
						li дизайн-бюро Купр;
						li конструктор сайтов;
						li франшиза веб-студии;
				li создание программ:
					ul
						li холдинг Субстанция;
						li компания по разработке мобильных приложений;
						li приложение для качалки;
				li учебный центр:
					ul
						li курс «<a target="_blank" title="Дизайнера сайтов" href="http://design.ivanprotsko.com/">Дизайнера сайтов за 3 месяца или основы дизайна-сайтов</a> » (UI — 1 lvl); — <i>зайдите 11 августа — там будет новый сайт с свежими подробностями и улучшенной презентацией деталей курса</i>;
				li дизайн:
					ul
						li курс «Художественного оформления графических интерфейсов (UI — 2 lvl);
						li курс «Продвинутый курс графического дизайна интерфейсов (UI— 3 lvl);
						li курс «Проектирования интерфейсов. Основы» (UX — 1 lvl);
						li курс «Продвинутый курс проектирования интерфейсов. Бизнес-анализ» (UX — 2 lvl);
						li курс «Продвинутый курс проектирования интерфейсов. Автоматизация» (UX — 3 lvl)
				li верстка:
					ul
						li экспресс-курс «Верстка сайтов»;
						li курс «Профессиональное владение Bootstrap».
				li менеджмент:
					ul
						li курс «Управление проектами» — организация команды разработчиков и руководство ею, введение в управление знаниями;
						li курс «Продукт-менеджмент» — создание интернет-продуктов с нуля: приложения, сервисы;
						li курс «ОРУ-методология» — системный подход к управлению развитием организации и руководством сотрудников.
		article.site-post
			h2 Архив проектов
			ul
				li 2014—2015 г. — создание дилерской сети Effective Pages;
				li 2014—2015 г. — Effective Pages – дешевые лендинги с CMS;
				li 2014—2015 г. — партнерская программа Эр-дэ-дэ;
				li 2013–2015 — <a target="_blank" href="http://www.er-de-de.com/">Эр-дэ-дэ</a> — удаленный отдел дизайна;
				li 2012—2013 г. — Cубстор — платформа создания интернет-магазинов;
				li 2010–2012 — дизайн-бюро Ивана Процко;
				li 2009—2010 г. — Иннова — подбренд веб-студии Инновация;
				li 2008—2009 г. — разработка CMS для сайта-визитки;
				li 2008—2010 г. — веб-студия Инновация;
				li 2007—2008 г. — сервис «онлайн-могил»;
				li 2006—2007 г. — команда «СССР» по Counter-Strike;
				li 2005—2006 г. — сайт домашней локальной сети «Shmatrix»;
				li 2003—2004 г. — сайт школы № 200.
		article.site-post
			h2 В процессе создания или развития
			ul
				li cоздание сайтов и интерфейсов:
					ul
						li теория, стандарты и методология создания графических интерфейсов;
						li экспресс программа обучения дизайнеров интерфейсов;
						li дизайн-бюро Купр;
						li франшиза веб-студии;
				li создание программ:
					ul
						li холдинг Субстанция;
						li конструктор сайтов;
						li компания по разработке мобильных приложений;
						li приложение для качалки;
				li учебный центр:
					ul
						li курс «Дизайнера сайтов за 3 месяца или основы дизайна-сайтов» (UI — 1 lvl);
						li курс «Художественного оформления графических интерфейсов (UI — 2 lvl);
						li курс «Продвинутый курс графического дизайна интерфейсов (UI— 3 lvl); 
						li курс «Проектирования интерфейсов. Основы» (UX — 1 lvl);
						li курс «Проектирования интерфейсов. Бизнес-анализ» (UX — 2 lvl);
						li курс «Проектирования интерфейсов. Автоматизация» (UX — 3 lvl);
						li экспресс-курс «Верстка сайтов»;
						li курс «Профессиональное владение Bootstrap».
		article.site-post
			h2 Cоц. сети:
			ul
				li: a(title="Instagram"   , target="_blank",href="https://instagram.com/ivanprotsko/") Instagram
				li: a(title="Linkedin"    , target="_blank",href="https://www.linkedin.com/profile/view?id=188132321&amp;trk=nav_responsive_tab_profile") Linkedin
				li: a(title="LiveJournal" , target="_blank",href="http://ivanprotsko.livejournal.com/") LiveJournal
				li: a(title="Twitter"     , target="_blank",href="http://twitter.com/ivanprotsko") Twitter
				li: a(title="Facebook"    , target="_blank",href="https://www.facebook.com/profile.php?id=100005825347504") Facebook
				li: a(title="Вконтакте"   , target="_blank",href="https://vk.com/ivanprotsko") Вконтакте
				li: a(title="Medium"      , target="_blank",href="http://medium.com/@ivanprotsko") Medium
				li: a(title="Google Plus" , target="_blank",href="http://plus.google.com/113143969711466806436/posts") Google Plus
