extends layout



block content
	h1.top Услуги
	.services.clearfix
		.col-lg-6: article: h2 Разработка веб-сервисов и мобильных приложений
		.col-lg-6: article: h2 Управление стартапами
		.col-lg-6: article: h2 Проектирование графических интефрейсов
		.col-lg-6: article: h2 Автоматизация бизнес-процессов
		.col-lg-6: article: h2 Управленческий консалтинг
		.col-lg-6: article: h2 Обучение персонала
		.col-lg-6: article: h2 Бренд-менеджмент
